<div class="container">
    <h2>Notas</h2>

    <a href="#/note/{{project}}/new" class="btn btn-primary">Novo</a>

    <br/>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Projeto</th>
            <th>Titulo</th>
            <th>Nota</th>
            <th>Acoes</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="note in notes">
                <td>{{note.id}}</td>
                <td>{{note.project_id}}</td>
                <td>{{note.title}}</td>
                <td>{{note.note}}</td>
                <td>
                    <a ng-href="#/project/{{note.project_id}}/note/{{note.id}}/edit">Editar</a>|
                    <a ng-href="#/project/{{note.project_id}}/note/{{note.id}}/remove">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
