<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">{{title}}</div>
				<div class="panel-body">

					<div class="alert alert-danger" ng-show="error.error">
						<strong>Whoops!</strong> Ocorreram erros<br><br>
						<div>{{error.message}}</div>
					</div>

					<form class="form-horizontal" role="form" name="form" >

						<input type="hidden" name="_token" value="{{ csrf_token() }}">

						<div class="form-group" ng-class="{'has-error': !form.name.$valid && form.name.$touched}">
							<label class="col-md-4 control-label">Nome</label>
							<div class="col-md-6">
								<input type="text" class="form-control" name="name" ng-model="task.name" required>
								<div ng-messages="form.name.$error" class="help-block" ng-show="form.name.$touched">
									<div ng-message="required">Campo obrigatorio</div>
								</div>
							</div>
						</div>

						<div class="form-group" ng-class="{'has-error': !form.start_date.$valid && form.start_date.$touched}">
							<label class="col-md-4 control-label">Data Inicial</label>
							<div class="col-md-6">
								<p class="input-group">
									<input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="task.start_date"
										   is-open="start_date.status.opened" close-text="Close" name="start_date"/>
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="openStart($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</p>
								<div ng-messages="form.start_date.$error" class="help-block" ng-show="form.start_date.$touched">
									<div ng-message="date">Data inválida!</div>
								</div>
							</div>
						</div>

						<div class="form-group" ng-class="{'has-error': !form.due_date.$valid && form.due_date.$touched}">
							<label class="col-md-4 control-label">Data</label>
							<div class="col-md-6">
								<p class="input-group">
									<input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="task.due_date"
										   is-open="due_date.status.opened" close-text="Close" name="due_date"/>
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="openDue($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</p>
								<div ng-messages="form.due_date.$error" class="help-block" ng-show="form.due_date.$touched">
									<div ng-message="date">Data inválida!</div>
								</div>
							</div>
						</div>

						<div class="form-group" ng-class="{'has-error': !form.status.$valid && form.status.$touched}">
							<label class="col-md-4 control-label">Status</label>
							<div class="col-md-6">
								<select ng-model="task.status" ng-options="status.value as status.label for status in taskStatus|orderBy:'label' " class="form-control" name="status" required>
									<option value="">Selecione um status</option>
								</select>
								<div ng-messages="form.status.$error" class="help-block" ng-show="form.status.$touched">
									<div ng-message="required">Campo obrigatorio</div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-6 col-md-offset-4">
								<button type="submit" ng-click="save(task)" class="btn btn-primary">{{action_button}}</button>
								<a href="#/task"class="btn btn-primary">Voltar</a>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>