<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">{{title}}</div>
				<div class="panel-body">

					<div class="alert alert-danger" ng-show="error.error">
						<strong>Whoops!</strong> Ocorreram erros<br><br>
						<div>{{error.message}}</div>
					</div>

					<form class="form-horizontal" role="form" name="form" >

						<input type="hidden" name="_token" value="{{ csrf_token() }}">

						<div class="form-group" ng-class="{'has-error': !form.name.$valid && form.name.$touched}">
							<label class="col-md-4 control-label">Name</label>
							<div class="col-md-6">
								<input type="text" class="form-control" name="name" ng-model="projectFile.name" required>
								<div ng-messages="form.name.$error" class="help-block" ng-show="form.name.$touched">
									<div ng-message="required">Campo obrigatorio</div>
								</div>
							</div>
						</div>

						<div class="form-group" ng-class="{'has-error': !form.description.$valid && form.description.$touched}">
							<label class="col-md-4 control-label">Descrição</label>
							<div class="col-md-6">
								<input type="text" class="form-control" name="description" ng-model="projectFile.description" required>
								<div ng-messages="form.description.$error" class="help-block" ng-show="form.description.$touched">
									<div ng-message="required">Campo obrigatorio</div>
								</div>
							</div>
						</div>

						<div class="form-group" ng-class="{'has-error': !form.file.$valid && form.file.$touched}">
							<label class="col-md-4 control-label">File</label>
							<div class="col-md-6">
								<div class="btn btn-info" ngf-select ng-model="projectFile.file" name="file">Select</div>
								{{projectFile.file.name}}
								<div ng-messages="form.file.$error" class="help-block" ng-show="form.file.$touched">
									<div ng-message="required">Campo obrigatorio</div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-6 col-md-offset-4">
								<button type="submit" ng-click="save(projectFile)" class="btn btn-primary">{{action_button}}</button>
								<a href="#/project"class="btn btn-primary">Voltar</a>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>